<!-- Services -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].strengths.section | default: "strengths" }}">
  <div class="container">

    <div class="d-flex flex-column align-items-center xp-section mb-5">
      <div class="col-md-6 col-md-8 col-xl-6 d-flex mt-2 flex-column flex-sm-row align-items-center align-items-sm-start mt-2">
        <div class="mb-2 mr-sm-5">
          <h2 class="number"><span id="increment-number">0</span>+</h2>
        </div>
        <div class="text-section text-center text-sm-left">
          <div class="text-muted">{{ site.data.sitetext[site.locale].strengths.subheader }}</div>
        </div>
      </div>
    </div>
    {% for strength in site.data.sitetext[site.locale].strengths.list %}
    <div class="d-flex flex-column align-items-center">
      {% if forloop.index0 == 0 or forloop.index0 == 2 or forloop.index0 == 4 %}
      <div class="col-md-8 col-xl-6 d-flex mt-2 flex-column flex-sm-row align-items-center align-items-sm-start">
        {% if strength.image %}
        <div class="mb-3 mb-sm-2 mr-sm-5">
          <img src="{{ strength.image }}" height="84" />
        </div>
        {% endif %}
        <div class="text-section text-center text-sm-left">
          <h5 class="strength-heading mb-2">{{ strength.title | markdownify }}</h5>
          {% if strength.text %}<div class="text-muted mb-5 mb-sm-3 text-justify text-sm-left">{{ strength.text | markdownify }}</div>{% endif %}
        </div>
      </div>
      {% else %}
      <div class="col-md-8 col-xl-6 d-flex mt-2 flex-column-reverse flex-sm-row align-items-center align-items-sm-start">
        <div class="text-section text-center text-sm-left">
          <h5 class="strength-heading mb-2">{{ strength.title | markdownify }}</h5>
          {% if strength.text %}<div class="text-muted mb-5 mb-sm-3 text-justify text-sm-left">{{ strength.text | markdownify }}</div>{% endif %}
        </div>
        {% if strength.image %}
        <div class="mb-3 mb-sm-2 mr-sm-5">
          <img src="{{ strength.image }}" height="84" />
        </div>
        {% endif %}
      </div>
      {% endif %}

    </div>
    {% endfor %}
    <div class="row mt-3">
      <a class="mx-auto mt-3 btn btn-primary btn-lg text-white cursor-pointer js-scroll-trigger go-to-form-btn" href="#contactFormContainer">{{ site.data.sitetext[site.locale].strengths.buttonText }}</a>
    </div>

  </div>
</section>
<!-- End Services -->