// Styling for the masthead
header.masthead {
  text-align: center;
  color: rgb(20, 20, 20);
  background-color: white;
  // background-image: url("#{$header-image}");
  // background-repeat: no-repeat;
  // background-attachment: scroll;
  // background-position: center center;
  // background-size: cover;
  .form-container {
    display: grid;
    place-items: center;
    text-align: left;
    .form {
      max-width: 550px;
      border-radius: 15px;
      opacity: 0;
      background-color: rgb(224, 222, 222);
      animation: fadeIn 2s ease-out 300ms forwards;
      textarea {
        resize: none;
        width: 100%;
        height: 200px;
        border-radius: 5px;
      }
      .form-subtitle {
        font-size: 13px;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 30px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      min-height: 115px;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        min-height: 150px;
        font-size: 65px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
    .form-container {
      .form {
        margin-bottom: 2rem !important;
      }
    }
  }
}
@media (max-width: 1044px) {
  header.masthead {
    .intro-text {
      .intro-heading {
        font-size: 45px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}